body {
  font-family: monospace;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: #41a9b7;
  color: white;
}

header h1,
header h2 {
  margin: 0;
  padding: 1rem;
}

header nav {
  background-color: #5068be;
}

header ul {
  padding: 0;
  display: flex;
}

header li {
  list-style: none;
  border-right: 1px dotted black;
  padding: 1rem;
}

header a {
  color: white;
}

footer {
  background-color: #d7585c;
  color: white;
  padding: 1.5rem;
}

main {
  padding: 0 1rem;
}

main article {
  border: 1px solid black;
  padding: 1rem;
  background-color: #e6c8a5;
  margin: 1rem 0;
}

main article div {
  display: flex;
}

main article aside {
  background-color: white;
  border: 1px dotted black;
  height: fit-content;
}

main article aside ul {
  padding: 0 1rem 0.5rem 2rem;
}

main article img {
  padding: 1rem 1rem 0 1rem;
}
